@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HospitalApplication.Models.Doctor>

<!DOCTYPE html>
<html>
<head>
    <title>Doctor List</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    
    <h2>These Are The Available Doctors  :-) </h2>
    <div class="doctor-list">
        @foreach (var doctor in Model)
        {
            <div class="doctor-card">
                <img src="@doctor.Picture" alt="Doctor Picture" height="100" width="100" />
                <h4>@doctor.Name</h4>
                <p> @doctor.Specialization</p>
                <p> @doctor.Email</p>
                <p> @doctor.Phone</p>
                <button class="button">Book Appointment</button>
            </div>
           
        }
    </div>
</body>
</html>
